body {
  background: #121A21;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.custom-navbar {
  background: #121A21;
  backdrop-filter: blur(10px);
  border-radius: 12px;
  margin: 20px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
  position: sticky;
  top: 0;
}

/* Nav links */
.nav-link {
  color: #aaa;
  position: relative;
  transition: 0.3s;
}

.nav-link:hover {
  color: #00e5ff;
  transform: scale(1);
}

.active-link {
  color: #00e5ff !important;
}

.active-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #00e5ff;
  bottom: -5px;
  left: 0;
  box-shadow: 0 0 10px #00e5ff;
}

.profile-icon {
  font-size: 1.8rem;
  color: #ccc;
}

/* Timer Layout */
.min-vh-75 {
    min-height: 75vh;
}

.timer-container {
    width: 320px;
    height: 320px;
}

/* SVG Ring Animation Setup */
.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    /* These values represent the circumference (2 * PI * r) */
    stroke-dasharray: 880; 
    stroke-dashoffset: 0;
}

.timer-display h1 {
    font-size: 5rem;
    text-shadow: 0 0 20px rgba(34, 211, 238, 0.3);
} 

/* Custom Cyan Button */
.btn-outline-cyan {
    color: var(--accent-cyan);
    border: 2px solid var(--accent-cyan);
    background: transparent;
    transition: 0.3s;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn-outline-cyan:hover {
    background: var(--accent-cyan);
    color: var(--bg-dark);
    box-shadow: 0 0 20px rgba(34, 211, 238, 0.4);
}

.tracking-widest {
    letter-spacing: 0.2em;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgba(18, 26, 33, 0.9);
	font-family: 'Segoe UI', sans-serif;
	
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	
}

.todo-app {
	width: 100%;
	max-width: 400px;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	color: #00e5ff;
	border-radius: 20px;
	box-shadow: 0 0 20px rgba(34, 211, 238, 0.4);
	border: 3px solid rgba(34, 211, 238);
	backdrop-filter: blur(10px);
}

.todo-app h1 {
	font-size: 2rem;
	color: white;
}

.input-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.input-area input {
	flex: 1;
	padding: 10px 17px;
	font-size: 1.1rem;
	border: none;
	outline: none;
	border-radius: 22px;
	background: black;
	color: #dbdbdb;
}

.input-area button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	padding: 8px;
	border-radius: 50%;
	color: white;
	font-size: 1.1rem;
	background: black;
	border: 2px solid rgba(34, 211, 238, 0.2);
	cursor: pointer;
	transition: all 0.2s ease;
}

.input-area button:hover {
	transform: scale(1.1);
	background: rgba(34, 211, 238, 0.5);
}

.todos-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#task-list {
	width: 100%;
	
}

.empty-image {
	width: 90px;
	height: 90px;
	
}

#task-list li{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: black;
	margin-bottom: 10px;
	padding: 8px 10px;
	border-radius: 30px;
	font-size: 1.2rem;
	color: #00e5ff; /*task list text*/
	position: relative;
	transition: box-shadow 0.2s ease;
}

#task-list li:hover {
	box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
}

#task-list li .checkbox {
	min-width: 20px;
	height: 20px;
	border: 2px solid rgba(34, 211, 238, 0.5);
	background: transparent;
	border-radius: 70%;
	appearance: none;
	cursor: pointer;
	transition: all 0.2s ease;
}

#task-list li .checkbox:checked {
	background: rgba(34, 211, 238, 0.5);
	transform: scale(1.1);
}

#task-list li .checkbox:checked::before {
	content: '\2713';
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}

#task-list li span {
	flex: 1;
	margin-left: 10px;
	word-wrap: break-word;
}

#task-list li.completed span {
	/*text-decoration: 2px line-through grey;*/
	color: grey;
	
}

.task-buttons {
	display: flex;
	gap: 10px;
	margin-right:auto;
}

.task-buttons button {
	background: rgba(255,255,255,0.2);
	border: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	color: white;
	font-size: 0.8rem;
	cursor: pointer;
	transition: all 0.2s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.task-buttons button:hover {
	transform : scale(1.2);
}

.task-buttons .edit-btn {
	background: #ffbf00;
}

.stat-container {
	padding: 15px 20px;
	border-radius: 10px;
	border: 2px solid rgba(34, 211, 238, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	width: 100%;
}

.details {
	width: 100%;
}

.details h3 {
	color: white;
}

#progressbar {
	width: 100%;
	height: 7px;
	background: rgba(34, 211, 238, 0.3);
	border-radius: relative;
	margin-top: 15px;
}

#progress {
	width: 50%;
	height: 100%;
	background: rgba(34, 211, 238);
	border-radius: 20px;
	transition: width 0.3s ease;
}

#numbers {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	background: rgba(34, 211, 238, 0.1);
	border: 2px solid rgba(34, 211, 238, 0.2);
	font-weight: bold;
	color: white;
	border-radius: 50%;
	font-size: 1.5rem;
}

@media (max-width: 600px) {
	.container {
		margin: 0 20px;
		padding: 0 10px;
	}

	.todo-app {
		padding: 1.5rem;
		gap: 20px;
	}

	#numbers {
		width: 60px;
		height: 60px;
		font-size: 1rem;
	}

	.input-size input {
		font-size: 1rem;
	}

	#task-list li {
		font-size: 1rem;
	}
}

/* Custom grid for 5 columns on large screens */
.sound-main{
	/*margin: 20px 0;*/
	background: rgba(18, 26, 33, 0.9);
	display: flex;
    flex-direction: column;
    align-items: center;  /* Horizontal centering */
    justify-content: center; 
    min-height: 80vh;     /* Ensures it takes up the screen */
    padding-top: 40px;
}


main .container {
    width: 100%;
}


@media (min-width: 992px) {
    .col-lg-2-4 {
        flex: 0 0 auto;
        width: 20%;
    }
}

.sound-card {
    background: rgba(18, 26, 33, 0.8) !important;
    border: 1px solid rgba(34, 211, 238, 0.2) !important;
    border-radius: 20px !important;
    backdrop-filter: blur(12px);
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.sound-card:hover {
    border-color: var(--accent-cyan) !important;
    transform: scale(1.01);
	/*background: var(--accent-cyan);*/
    color: var(--bg-dark);
    box-shadow: 0 0 10px rgba(34, 211, 238, 0.4);
}

.sound-card.active {
    background: rgba(34, 211, 238, 0.1) !important;
    border-color: var(--accent-cyan) !important;
    box-shadow: 0 0 15px rgba(34, 211, 238, 0.2);
}

.icon-display {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
    display: block;
}

.card-title {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

/* Status Dot Indicator */
.status-indicator {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.dot {
    height: 8px;
    width: 8px;
    background: var(--accent-cyan);
    border-radius: 50%;
    display: inline-block;
}

.active .dot {
    background: var(--accent-cyan);
    box-shadow: 0 0 8px var(--accent-cyan);
}

.active .status-text {
    color: var(--accent-cyan);
    font-weight: bold;
}

/* MUTE ICON DEFAULT (UNMUTED = WHITE) */
.mute-toggle {
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

/* MUTED STATE */
.mute-toggle.muted {
    color: grey;
}

/* PLAY / PAUSE BUTTON STYLE */
.play-btn,
.pause-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6c757d; /* bootstrap grey */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

/* ICON INSIDE BUTTON */
.play-btn i,
.pause-btn{
    color: white;
    font-size: 1.2rem;
}

/* HOVER EFFECT */
.play-btn:hover,
.pause-btn:hover {
    background: rgba(34, 211, 238, 0.5);
}


